@model MVCTest.Models.CurrencyModel

<div class="card">
    <div class="card-header">
        <h4>BTC</h4>
    </div>
    <div class="card-body">
        @if (Model != null && Model.BtcEquivalent > 0)
        {
            <p>1 BTC is equivalent to @Model.BtcEquivalent @Model.CurrencyCode</p>
        }
        else
        {
            <p>Currency conversion data is not available at the moment.</p>
        }
    </div>
</div>
