@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="container mt-4">
    <h1 class="text-center">Country MVC .NET 7 Test</h1>
    <div class="form-group">
        <label for="selectedCountry">Select a Country:</label>
        <select id="selectedCountry" asp-for="SelectedCountry" asp-items="Model.CountrySelectList">
            <option value="">Please select</option>
        </select>
        <button type="submit">Submit</button>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4">
            @if (Model.WeatherModel != null)
            {
                @await Html.PartialAsync("~/Views/Partial/WeatherView.cshtml", Model.WeatherModel)
            }
            else
            {
                <p>No weather data available.</p>
            }
        </div>
        <div class="col-md-6 mb-4">

            @if (Model.CountryInfoModel != null)
            {
                @await Html.PartialAsync("~/Views/Partial/CountryInfoView.cshtml", Model.CountryInfoModel)
            }
            else
            {
                <p>No Country Info data available.</p>
            }

        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    @if (Model.NewsApiResponse != null)
                    {
                        @await Html.PartialAsync("~/Views/Partial/NewsView.cshtml", Model.NewsApiResponse)
                    }
                    else
                    {
                        <p>No news Info data available.</p>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            @if (Model.CurrencyModel != null)
            {
                @await Html.PartialAsync("~/Views/Partial/CurrencyView.cshtml", Model.CurrencyModel)
            }
            else
            {
                <p>No currency Info data available.</p>
            }
        </div>
    </div>
</div>
